.menu {

  &__header {
    color: #fff;
    font-size: 28px;
    font-family: "Lato", sans-serif;
    margin: 30px auto;
    display: table;
  }

  &__list {
    margin: 10px 0;
    display: table;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    text-align: center;

    a {
      font-size: 20px;
      text-transform: capitalize;
      color: #000;
    }

    li {
      text-align: center;
      text-transform: capitalize;
      margin-right: 10px;

      &:nth-child(2n+1) {
        background: #E7E7E7
      }
    }
  }



  &__container {
   box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
   margin: 0 auto;
   margin-top: 20px;
   background: #fff;

   &--big {
    height: 30em;
    min-width: 500px;
    overflow-y: scroll;
    width: 90%;
  }

  &--small {
    min-width: 300px;
    display: table;
    padding: 20px;
  }

  &--xs {
    min-width: 300px;
    width: 50%;
  }
}
}


.table {
  display: table;
  margin: 0 auto;
  th {
    border: none;
    text-align: center;
    color: $text-color;
    font-size: $font-size;
    background-color: #56CF90;
    width: 400px;
  }

  tr {
    width: 400px;
    text-align: center;
    color: #000;
    font-size: $font-size;
    margin-bottom: 20px;

    &:nth-child(2n+1) {
      background: #E7E7E7;
    }
  }

  td {
    padding: 50px 0 35px 0;
  }
}

.alert {
  font-size: 20px;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  margin: 15px auto;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;

  &--big {
    width: 100%;
    min-width: 200px;
  }

  &--small {
    width: 20%;
    min-width: 300px;
  }
}

// Clase fara BEM deoarece sunt clase generate  de
// widgeturi din back-end
.error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.success {
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  color: #3c763d;
}

.errorlist {
  list-style-type: none;
  padding: 0;

  li {
    color: #ff0000;
    text-align: center;
  }
}

// Rating
.stars {
  span {
    display: block;
    background: url("/static/img/stars.png") 0 -16px repeat-x;
    width: 80px;
    height: 16px;
  }
}

span.stars span {
  background-position: 0 0;
}

.ratingjs {
  font-size: 15px;
  color: #666;
}
