{% extends 'restaurant/index.html' %}
{% load staticfiles %}


{% block content %}
<section class="container">

    <form method="POST" class="form">{% csrf_token %}
    <h1>Add your order</h1>
        {% for field in form %}

                {{ field.label_tag }} {{ field }}
                {{ field.errors }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}

        {% endfor %}
        <button type="submit" class="button button--large">Save</button>
    </form>
</section>
{% endblock %}
