// Declare variables
$gradient: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(42,195,114,1) 0%, rgba(53,197,110,1) 6%, rgba(107,206,90,1) 35%, rgba(227,225,44,1) 100%);
$font: Arial, sans-serif;
$font-size: 20px;
$text-color: #fff;

body {
  background: url("/static/img/background_addmenu.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
    color: #afaaaa;
    text-align: center;
  }

.navbar {
  padding: 5px 100px 5px 100px;
  box-shadow: 0px 8px 7px 1px rgba(0,0,0,0.1);
  display: table;
  width: 100%;

  &__item {
    display: inline-block;
    list-style-type: none;
    padding: 0;

    &--left {
      float: left;
      margin-top: 7px;
    }

    &--right {
      float: right;
    }
  }
}

.link {
  font-size: $font-size;
  font-family: $font;
  text-decoration: none;
  color: $text-color;

  &:hover {
    text-decoration: none;
  }
}
// Logo

.logo {
  margin-right: 50px;
}

//  User avatar

.avatar {
  border-radius: 50%;
  margin-left: 5px;
  max-width: 80px;
  max-height: 80px;
}

.dropdown {
  position: relative;
  display: inline-block;
  span {
    color: $text-color;
    font-size: $font-size;
  }

  &__content {
    display: none;
    position: absolute;
    background: $gradient;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
  }
}

.dropdown:hover .dropdown__content {
  display: block;
}

.dropdown__list {
  list-style-type: none;
  padding: 0;
  li a {
    color: $text-color;
    font-size: 18px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}
// Footer
footer {
  height: 50px;
}

@media screen and (max-width: 870px) {
  .navbar__item--right {
    display: none;
  }

  .menu__container--big {
    width: 95%;
  }

  .table td {
    font-size: 17px;
  }

  .button--large {
    font-size: 15px;
    padding: 15px 20px 15px 20px !important;
    margin-top: 0 !important;
  }

}
